@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Reduce font size of Prism.js code */
pre[class*="language-"] {
  font-size: 0.75rem !important;/* Adjust as needed */
}

/* Inline codes: Targets <code> tags that are NOT inside <pre> */
code:not(pre > code) {
  font-size: 0.85rem; /* Adjust as needed */
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) ; /* Optional: Adds a background */
  padding: 2px 4px; /* Optional: Adds spacing */
  border-radius: 4px; /* Optional: Rounds the edges */
}